{% extends 'school/main.html' %}
{% block content %}
<div class="pagetitle">
    <h1>Class</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">Class</li>
      </ol>
    </nav>
</div><!-- End Page Title -->
<div class="row">
    <h3 class="text-center">Manage Class</h3>
    <div class="col-12">
        <table class="table">
            <tr>
                <th>Class</th>
                <th>Current class teacher</th>
                <th>No of students</th>
                <th>Action</th>
            </tr>
            {% for class in class %}
            <tr>
                <td>{{class.group}}{{class.arm}} class</td>
                <td>
                    {% if class.teacher == 'None' %}
                    No class teacher assign yet
                    {% else %}
                    {{class.owner}}
                    {% endif %}
                </td>
                <td>{{class.number_of_student}}</td>
                <td>
                    <a href="{% url 'remove_class_teacher' class.id %}" class="btn btn-outline-dark">Remove class teacher</a>
                    {% if class.active == 1 %}
                    <a href="{% url 'deactivate_class' class.id %}" class="btn btn-outline-danger">Deactivate class</a>
                    {% else %}
                    <a href="{% url 'activate_class' class.id %}" class="btn btn-outline-success">activate class</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-4 text-center">
        <a href="#Class" class="btn  btn-secondary" data-toggle="modal">Add new class</a>
        <!-- <button type="button" class="btn btn-secondary">Add new class</button> -->
        <div id="Class" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add new class</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <!-- <input class="form-control mb-2" type="text" name="group" id=""> -->
                                    <select name="group" class="form-control" id="" required>
                                        <option value="">--Select a class--</option>
                                        <option value="JS1">JS1</option>
                                        <option value="JS2">JS2</option>
                                        <option value="JS3">JS3</option>
                                        <option value="SS1">SS1</option>
                                        <option value="SS2">SS2</option>
                                        <option value="SS3">SS3</option>
                                    </select>
                                </div>
                                <!-- <div class="col-lg-6 col-sm-12">
                                    <select name="cat" id="" class="form-control" required>
                                        <option value="">--Select category--</option>
                                        <option value="junior">Junior</option>
                                        <option value="senior">Senior</option>
                                    </select>
                                </div> -->
                                <div class="col-sm-12 mt-3">
                                    <button type="submit" class="btn btn-block btn-secondary" name="submit">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <a href="#Assign" class="btn btn-secondary " data-toggle="modal">Assign class teacher</a>
        <!-- <button type="button" class="btn btn-secondary">Add new class</button> -->
        <div id="Assign" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Assign class teacher</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- Content here -->
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <input name="reg2" autocomplete="off" placeholder="Teacher registration number" class="form-control mb-2" type="text" required>
                                </div>
                                <div class="col-lg-12 col-sm-12 mb-3">
                                    <!-- <input class="form-control mb-2" type="text" name="group" id=""> -->
                                    <select name="allgroup2" class="form-control" id="" required>
                                        <option value="">--Assign to which class?--</option>
                                        {% for allclass in allclass %}
                                        <option value="{{allclass.group}}">{{allclass.group}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-12 col-sm-12 mb-3">
                                    <!-- <input class="form-control mb-2" type="text" name="group" id=""> -->
                                    <select name="arm2" class="form-control" id="" required>
                                        <option value="">--Assign to which arm?--</option>
                                        {% for arm in arm %}
                                        <option value="{{arm.arm}}">{{arm.arm}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <button type="submit" class="btn btn-secondary btn-block" name="submit2">Assign</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
        <a href="#myUnit" class="btn  btn-secondary" data-toggle="modal">Add unit class</a>
        <!-- <button type="button" class="btn btn-secondary">Add new class</button> -->
        <div id="myUnit" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add unit class</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 mb-3">
                                    <!-- <input class="form-control mb-2" type="text" name="group" id=""> -->
                                    <select name="allgroup" class="form-control" id="" required>
                                        {% for allclass in allclass %}
                                        <option value="{{allclass.group}}">{{allclass.group}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 mb-3">
                                    <!-- <input class="form-control mb-2" type="text" name="group" id=""> -->
                                    <select name="arm" class="form-control" id="" required>
                                        {% for arm in arm %}
                                        <option value="{{arm.arm}}">{{arm.arm}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 mb-3">
                                    <!-- <label for="teacher" class="col-form-label">Subject teacher</label> -->
                                    <input class="form-control mb-3" autocomplete="off" type="text" required name="teacher" id="" placeholder="Assign class teacher">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-secondary btn-block" name="submit1">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}