{% extends 'school/main.html' %}
{% block content %}
<div class="pagetitle">
    <h1>Subject</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active">subject</li>
      </ol>
    </nav>
</div><!-- End Page Title -->
<div class="row">
    <h3 class="text-center">Manage Subject</h3>
    <div class="col-12">
        <table class="table">
            <tr>
                <th>Subject</th>
                <th>Teacher in charge</th>
                <th>Class</th>
                <th>Arm</th>
                <!-- <th>Action</th> -->
            </tr>
            {% for subject in subject %}
            <tr>
                <td>{{subject.subject}}</td>
                <td>{{subject.teacher}}</td>
                <td>{{subject.group}}</td>
                <td>{{subject.arm}}</td>
                <!-- <td>
                    <div class="col-6 text-center">
                        <a href="#Sub" class="btn btn-secondary" data-toggle="modal">View subject</a>
                        <div id="Sub" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">View subject</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <h1>COMING SOON</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td> -->
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-4 text-center">
        <a href="#Subject" class="btn btn-secondary" data-toggle="modal">Add new subject</a>
        <!-- <button type="button" class="btn btn-secondary">Add new class</button> -->
        <div id="Subject" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add new subject</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-sm-12">
                                    <input class="form-control mb-2" type="text" name="subject" placeholder="Subject" id="">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <!-- <input class="form-control mb-2" type="text" name="cat" placeholder="" id=""> -->
                                    <select class="form-control" name="cat" id="" required>
                                        <option value="">--Select category--</option>
                                        <option value="junior">Junior</option>
                                        <option value="senior">Senior</option>
                                        <option value="both">Both</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-secondary" name="submit">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 text-center">
        <a href="#Assign" class="btn btn-secondary" data-toggle="modal">Assign subject</a>
        <!-- <button type="button" class="btn btn-secondary">Add new class</button> -->
        <div id="Assign" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Assign subject</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 mt-3">
                                    <select class="form-control" name="subject" id="" required>
                                        <option value="">--Select subject--</option>
                                        {% for subject in allsubject %}
                                        <option value="{{subject.subject}}">{{subject.subject}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-12 col-sm-12 mt-3">
                                    <!-- <input class="form-control mb-2" type="text" name="cat" placeholder="" id=""> -->
                                    <select class="form-control" name="cat" id="" required>
                                        <option value="">--Select category--</option>
                                        <option value="Junior">Junior</option>
                                        <option value="Senior">Senior</option>
                                    </select>
                                </div>
                                <div class="col-lg-12 col-sm-12 mt-3">
                                    <!-- <input class="form-control mb-2" type="text" name="cat" placeholder="" id=""> -->
                                    <select class="form-control" name="group" id="" required>
                                        <option value="">--Select class--</option>
                                        {% for group in group %}
                                        <option value="{{group.group}}">{{group.group}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-12 col-sm-12 mt-3">
                                    <!-- <input class="form-control mb-2" type="text" name="cat" placeholder="" id=""> -->
                                    <select class="form-control" name="arm" id="" required>
                                        <option value="">--Select arm--</option>
                                        {% for arm in arm %}
                                        <option value="{{arm.arm}}">{{arm.arm}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-12 col-sm-12 mt-3">
                                    <input class="form-control mb-2" type="text" name="teacher" placeholder="Subject teacher reg number" id="">
                                </div>
                                <div class="col-12 mt-3">
                                    <button type="submit" class="btn btn-block btn-secondary" name="submit1">Create</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 text-center">
        <a href="#View" class="btn btn-secondary" data-toggle="modal">View all subject</a>
        <!-- <button type="button" class="btn btn-secondary">Add new class</button> -->
        <div id="View" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">View all subject</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-stripped datatable">
                            <tr>
                                <th>Subject</th>
                                <th>Category</th>
                                <th>Active</th>
                            </tr>
                            {% for allsubject in allsubject %}
                            <tr style="text-align: left;">
                                <td>{{ allsubject.subject }}</td>
                                <td>{{ allsubject.category }}</td>
                                <td>{{ allsubject.active | yesno }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}